.recipe-card {
  cursor: pointer;
  flex: 1;

  img {
    width: 100%;
    border-radius: 50%;
    aspect-ratio: 1;
    will-change: transform;
    transition: transform 0.3s ease-out;
  }

  @media screen and (hover: hover) {
    &:hover .img-cover {
      transform: scale(1.07);
    }
  }

  h4 {
    padding: 0.5rem;
    margin-top: 2rem;
    line-height: 1.1;

    font-size: 1.5rem;
  }

  .img-container {
    width: 18.75rem;
    aspect-ratio: 1;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 0 5px #fff, 0 0 0 10px var(--color-dark-brown);

    overflow: hidden;

    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);

    @media screen and (max-width: 93.75em) {
      box-shadow: 0 0 0 3px #fff, 0 0 0 6px var(--color-dark-brown);
    }

    @media screen and (max-width: 50em) {
      box-shadow: 0 0 0 2px #fff, 0 0 0 4px var(--color-dark-brown);
    }
  }

  .svg-container {
    margin-top: 1rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    justify-content: center;

    .svg {
      display: flex;
      align-items: center;
      gap: 1rem;

      span {
        font-size: 1rem;
      }
    }

    img {
      width: 100%;
    }

    .icon {
      display: flex;
      align-items: center;
      width: 2rem;
      aspect-ratio: 1;
    }
  }
}
