.recipes-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;

  padding: 0 5rem;

  @media screen and (max-width: 43.75em) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 37.5em) {
    grid-template-columns: repeat(2, 1fr);
  }
}
