.recipe-ins {
  padding: 5rem;

  h2 {
    margin: 0;
    text-align: center;
    margin-bottom: 5rem;
  }

  ol {
    padding-left: 5rem;
    // width: max-content;
  }

  li {
    max-width: 75ch;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    color: var(--color-text-black);
    // text-align: center;

    @media screen and (max-width: 28.125em) {
      margin: 0;
      margin-bottom: 2rem;
    }
  }
}
