.cuisine {
  width: 100%;

  // @media screen and (max-width: 50em) {
  //   padding-top: 10rem;
  // }

  &-title {
    text-align: center;

    @media screen and (max-width: 50em) {
      padding: 0 5rem;
    }
  }

  &-component {
    gap: 1rem;
  }

  .left-arrow,
  .right-arrow {
    flex-shrink: 0;
    width: 3.125rem;
    padding: 1rem;
    box-sizing: content-box;
    cursor: pointer;
    will-change: transform;
    transition: transform 0.2s;

    @media screen and (hover: hover) {
      &:hover {
        transform: scale(1.1);
      }

      &:active {
        transform: scale(1);
      }
    }

    @media screen and (max-width: 50em) {
      width: 6rem;
      padding: 3rem;
    }

    @media screen and (max-width: 37.5em) {
      width: 4rem;
      padding: 0.5rem;
    }
  }

  &-slides {
    overflow-x: hidden;
    padding: 1rem;
    margin: 0;
  }

  &-cards {
    display: flex;
    justify-content: space-between;
    gap: 6rem;

    @media screen and (max-width: 50em) {
      gap: 3rem;
    }

    @media screen and (max-width: 37.5em) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .dots-container {
    display: flex;
    gap: 3rem;
    justify-content: center;

    margin-top: 6rem;

    .dot {
      width: 12px;
      aspect-ratio: 1;
      background: #c4c4c4;
      border-radius: 50%;
      cursor: pointer;

      @media screen and (max-width: 93.75em) {
        width: 10px;
      }

      @media screen and (max-width: 75em) {
        width: 8px;
      }
    }

    .dot-active {
      background-color: var(--color-dark-brown);
    }

    @media screen and (max-width: 75em) {
      gap: 5rem;
    }
  }

  &-cta {
    display: block;
    margin: 0 auto;
    margin-top: 6rem;
  }
}
