.hero {
  position: relative;
  height: 100vh;

  // @media screen and (orientation: portrait) and (min-width: 43.75em) {
  //   height: 50vh;
  // }

  &-img {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      width: 115%;
      height: inherit;
      object-position: 50% 70%;
    }

    .hero-overlay {
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.2);

      @media screen and (max-width: 37.5em) {
        background: rgba(0, 0, 0, 0.6);
      }
    }
  }

  &-text {
    position: absolute;
    top: 48%;
    left: 50%;
    color: var(--color-white);
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 100;

    @media screen and (max-width: 56.25em) {
      padding-left: 15rem;
      top: 40%;
    }

    @media screen and (max-width: 37.5em) {
      padding-left: 5rem;
    }

    @media screen and (max-width: 37.5em) {
      top: 40%;
    }

    &-title {
      font-family: "Lato", sans-serif;
      font-size: 7rem;
      font-weight: 900;
      line-height: 0.9;

      width: 80%;

      span {
        font-style: italic;
        color: var(--color-brown);
      }

      @media screen and (max-width: 31.25em) {
        line-height: 1;
        font-size: 6rem;
      }

      @media screen and (max-width: 18.75em) {
        // font-size: 7rem;
      }
    }

    &-subtitle {
      font-family: "Lato", sans-serif;
      font-size: 2.625rem;
      font-weight: 100;
      font-style: italic;
      line-height: 1.545;
      margin-top: 6rem;
      color: var(--color-white);

      @media screen and (max-width: 75em) {
        margin-top: 4rem;
      }

      @media screen and (max-width: 31.25em) {
        font-size: 2.5rem;
        margin-top: 6rem;
        color: rgb(228, 228, 228);
        display: none;
      }
    }

    &-subtext {
      font-size: 1.25rem;
      font-weight: 300;
      line-height: 1.65;
      width: 35%;
      margin-top: 2rem;
      color: var(--color-off-white);

      @media screen and (max-width: 75em) {
        margin-top: 1rem;
      }

      @media screen and (max-width: 31.25em) {
        font-size: 1.8rem;
        width: 70%;
        margin-top: 4rem;
        color: rgb(228, 228, 228);
      }
    }

    &-cta {
      margin-top: 6rem;

      @media screen and (max-width: 75em) {
        margin-top: 4rem;
      }

      @media screen and (max-width: 31.25em) {
        font-size: 1.8rem;
        margin-top: 6rem;
      }
    }
  }
}
