.meals {
  @media screen and (max-width: 50em) {
    padding-bottom: 10rem;
    padding-top: 5rem;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 6rem;
    row-gap: 10rem;
  }
}
